.clientes {
    background-color: #38b6ff;
    padding: 8rem 0;
}

.gallery {
    
    width: 1200px;
    display: flex;
    overflow-x: scroll;
}

.gallery div {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    padding: 10px 0;
    flex: none;
}

span {
    text-align: center;
}

.gallery div img {
    width: 20rem
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;    
    
}

#backBtn, #nextBtn {
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    padding: 1rem;
    color: #ffffff;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
    .gallery div {
        grid-template-columns: repeat(4, 1fr); /* 3 columns for screens < 1200px */
    }
}

@media (max-width: 1000px) {
    .gallery div {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for screens < 1000px */       

    }

    .gallery div img {
        width: 30rem;
        
    }

    
}

@media (max-width: 800px) {
    .gallery div {
        grid-template-columns: 1fr; /* 1 column for screens < 800px */
        
    }
    
    #backBtn, #nextBtn { 
        width: 20rem;
    }

    .gallery { 
        width: 1200px;
        height: auto;
    }

    .gallery div img {
        width: 20rem;
        
    }

    
}

@media (max-width: 600px) { 
    .gallery div img {
        width: 15rem;
        
    }
}
