/* 
cores: 
azul: #38b6ff
branco: #ffffff
preto: #000000
fonte: Poppins
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Poppins", sans-serif;
    word-wrap: break-word;
}

html {
    /* font-size: 10px; */
  
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    /* overflow-x: hidden; /*
  
    /* Does NOT work on Safari */
    /* scroll-behavior: smooth; */
  }

  
  .container {
    /* 1140px */
    width: 100vw;    
    margin: 0 auto;
  }
  
  .grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  
    /* margin-bottom: 9.6rem; */
  }


  @media screen and (min-width: 1450px) { 
    .flor {
      width: 25rem;
    }
    
    .flor1-img {
      top: -18%;
      left: -8%;
    }
    
    .flor2-img {
      top: 78%;
      left: 86%;
    }
    
  
      .subsubbox {
        width: 48rem;
        height: 16rem;
    }
  
    .oqfaco-title {
        font-size: 5rem;
    }
  
    .oqfaco-subtitle {
        font-size: 2rem;
    }
  }

  @media screen and (max-width: 1200px) {
    .heading-primary {
        font-size: 10rem;
    }

    .sobre-mim {
        padding-left: 2rem;
    }

    .oqfaco-title {
        font-size: 3rem;
    }

    .subsubbox {
       width: 33rem;
       padding: 1rem;
    }
   

    .oq-eu-faco-titulo {
        width: 45rem;
        font-size: 4.5rem;
    }

    .flor {
        width: 20rem;
    }

    .flor1-img {
        top: -20%;
    }

    .flor2-img {
        top: 73%;
        left: 85%;
    }

    .grid-1 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .contato-titulo {
        font-size: 8rem;
    }

    .numero, .instagram {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 1000px) {
    .subsubbox {
        width: 27rem;
    }

    .oqfaco-title {
        font-size: 2.5rem;
    }

    .oqfaco-subtitle {
        font-size: 1.25rem;
    }
   
    .oq-eu-faco-titulo {
        width: 38rem;
        font-size: 4rem;
    }    
    
    .apresentacao {
        font-size: 2rem;
       padding-left: 1rem;
    }
    .rosto-gab {
        width: 95%;
    }
    .deco-sobre-mim {
        width: 95%;
    }
    
    .contato-titulo {        
        font-size: 6.5rem;
    }

    .numero, .instagram {
        font-size: 1.4rem;
        
    }
    
    

    .numero-contato, .instagram-contato {
        padding-top: 2rem;
    }
    
  

    .flor {
        width: 17rem;
    }

    .flor1-img {
        top: -16%;
        left: -10%;
    }

    .flor2-img {
        top: 75%;
        left: 83%;
    }
}



@media screen and (max-width: 800px) {

    

    .heading-primary {
        font-size: 8rem;
    }
    
    .hero-text-box {
        padding: 0 0 3rem 0;
    }

    .rosto-gab {
        width: 85%;
        
    }
    .deco-sobre-mim {
        display: none;
    }

    .apresentacao {
        font-size: 1.8rem;
        padding-left: 2rem;
        padding-right: 4rem;
    }    

    .sobre-mim {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .oqfaco-title {
        font-size: 3rem;
    }

    .subsubbox-promo {
        padding-right: 5rem;
    }

    .oq-eu-faco-titulo {
        width: 36rem;
        font-size: 4rem;
        top: -6.5%;
    }

    .flor {
        width: 13rem;
    }

    .flor1-img {
        top: -8%;
        left: -10.5%;
    }

    .flor2-img {
        top: 88%;
        left: 83%;
    }
   
    .oq-faco2 {
        padding: 40rem 0;
        
    }
    .oq-faco-box2 {
        display: block;
        height: auto;
        
        
    }

    .subbox {
        justify-content: center;
        align-items: center;
        
        padding: 2rem 1rem 1rem 1rem;
    }
    
    .subsubbox {
        width: 35rem;
    }

    .oqfaco-subbox1 {
        padding-top: 5rem;
    }
    
    .oqfaco-subbox4 {
        padding-bottom: 5rem;
    }

    .grid-1 {        
        grid-template-columns: 1fr;
    }

    .hero {
        grid-template-columns: 1fr;
        padding: 0;
        
    }
   

    .hero-text-box {
        display: flex;        
        flex-direction: column;
        align-items: center;
        
    }

    .sobrenome {
        text-align: center;
    }

    .heading-primary {
        font-size: 13rem;
    }
    .contato-div {        
        grid-template-columns: 1fr;
    }
    .contato-titulo {
        font-size: 11rem;
    }
    
    .sobre-mim {
        padding: 8rem 0 0 0;
    }

    .links {
        display: flex;
        padding-bottom: 3rem;
        gap: 3rem;
    }
}



@media screen and (max-width: 600px) {
    .oq-faco2 {
        height: 100vh;
    }

    .grid-1, .grid-2 {
        padding: 0;
    }

    .heading-primary {
        font-size: 9rem;
    }

    .portifolio {
        font-size: 1.5rem;
    }
    
    .apresentacao {
        font-size: 1.8rem;
    }
    
    .rosto-gab {
        width: 80%;
        padding-bottom: 0rem;
    }
        
    .titulo-redes {
        font-size: 4.2rem;
        width: 37rem;
        padding: 3rem 0;

    }      

    .flor {
        width: 10rem;
    }

    .flor1-img {
        display: none;
    }

    .flor2-img {
        top: 91%;
        left: 85%;
    }

    .contato-titulo {
        font-size: 8rem;
    }

    .numero, .instagram {
        font-size: 1.2rem;
        
    }
    
    .infos {
        display: flex;
        padding: 4rem 0 0 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .oq-eu-faco-titulo {
        width: 30rem;
        font-size: 3.3rem;
    }
}


@media screen and (max-width: 500px) { 
    .oq-eu-faco-titulo {
        width: 28rem;
        font-size: 2.8rem;
        top: -5%
    }

    .flor {
        width: 8rem;
    }   

    .flor2-img {
        top: 92%;
        left: 85%;
    }


}

@media screen and (max-width: 400px) { 
    
    .oq-eu-faco-titulo {
        width: 24rem;
        font-size: 2.6em;
        top: -5%
    }

    .subsubbox {
        width: 25rem;
    }

    .oqfaco-title {
        font-size: 2.5rem;
    }

    .contato-titulo {
        font-size: 6.5rem;
    }

    .instagram, .numero {
        font-size: .9rem;
   }

   .titulo-redes {
    font-size: 3.5rem;
    width: 30rem;
    padding: 2.5rem 0;

}


   .flor {
    width: 8rem;
}

.flor2-img {
    top: 92%;
    left: 82%;
}

}

